@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r13pqr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?r13pqr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?r13pqr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?r13pqr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?r13pqr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bgi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgi-export {
  &:before {
    content: $bgi-export; 
  }
}
.bgi-add {
  &:before {
    content: $bgi-add; 
  }
}
.bgi-biz_search {
  &:before {
    content: $bgi-biz_search; 
  }
}
.bgi-close {
  &:before {
    content: $bgi-close; 
  }
}
.bgi-collbrate {
  &:before {
    content: $bgi-collbrate; 
  }
}
.bgi-contact-book {
  &:before {
    content: $bgi-contact-book; 
  }
}
.bgi-date {
  &:before {
    content: $bgi-date; 
  }
}
.bgi-delete {
  &:before {
    content: $bgi-delete; 
  }
}
.bgi-dropdown {
  &:before {
    content: $bgi-dropdown; 
  }
}
.bgi-edit {
  &:before {
    content: $bgi-edit; 
  }
}
.bgi-feed_backs {
  &:before {
    content: $bgi-feed_backs; 
  }
}
.bgi-filter {
  &:before {
    content: $bgi-filter; 
  }
}
.bgi-full-screen {
  &:before {
    content: $bgi-full-screen; 
  }
}
.bgi-home {
  &:before {
    content: $bgi-home; 
  }
}
.bgi-import {
  &:before {
    content: $bgi-import; 
  }
}
.bgi-information {
  &:before {
    content: $bgi-information; 
  }
}
.bgi-jsrs_connect {
  &:before {
    content: $bgi-jsrs_connect; 
  }
}
.bgi-like {
  &:before {
    content: $bgi-like; 
  }
}
.bgi-list_menu {
  &:before {
    content: $bgi-list_menu; 
  }
}
.bgi-male {
  &:before {
    content: $bgi-male; 
  }
}
.bgi-more {
  &:before {
    content: $bgi-more; 
  }
}
.bgi-notification {
  &:before {
    content: $bgi-notification; 
  }
}
.bgi-question-1 {
  &:before {
    content: $bgi-question-1; 
  }
}
.bgi-question {
  &:before {
    content: $bgi-question; 
  }
}
.bgi-quick_link {
  &:before {
    content: $bgi-quick_link; 
  }
}
.bgi-search {
  &:before {
    content: $bgi-search; 
  }
}
.bgi-settings {
  &:before {
    content: $bgi-settings; 
  }
}
.bgi-share {
  &:before {
    content: $bgi-share; 
  }
}
.bgi-speech-bubble {
  &:before {
    content: $bgi-speech-bubble; 
  }
}
.bgi-star {
  &:before {
    content: $bgi-star; 
  }
}
.bgi-tender {
  &:before {
    content: $bgi-tender; 
  }
}
.bgi-tick {
  &:before {
    content: $bgi-tick; 
  }
}
.bgi-user {
  &:before {
    content: $bgi-user; 
  }
}
.bgi-speech-bubble_2 {
  &:before {
    content: $bgi-speech-bubble_2; 
  }
}
.bgi-Upload_1 {
  &:before {
    content: $bgi-Upload_1; 
  }
}
.bgi-upload_logo {
  &:before {
    content: $bgi-upload_logo; 
  }
}
.bgi-department_management {
  &:before {
    content: $bgi-department_management; 
  }
}
.bgi-profile_management {
  &:before {
    content: $bgi-profile_management; 
  }
}
.bgi-tags {
  &:before {
    content: $bgi-tags; 
  }
}
.bgi-awards {
  &:before {
    content: $bgi-awards; 
  }
}
.bgi-honor {
  &:before {
    content: $bgi-honor; 
  }
}
.bgi-certificate {
  &:before {
    content: $bgi-certificate; 
  }
}
.bgi-view {
  &:before {
    content: $bgi-view; 
  }
}
.bgi-back {
  &:before {
    content: $bgi-back; 
  }
}
.bgi-download {
  &:before {
    content: $bgi-download; 
  }
}
.bgi-products {
  &:before {
    content: $bgi-products; 
  }
}
.bgi-Activities {
  &:before {
    content: $bgi-Activities; 
  }
}
.bgi-folder {
  &:before {
    content: $bgi-folder;     
    color: #ebba16;
  }
}
.bgi-contact {
  &:before {
    content: $bgi-contact; 
  }
}
.bgi-move {
  &:before {
    content: $bgi-move; 
  }
}
.bgi-sort {
  &:before {
    content: $bgi-sort; 
  }
}
.bgi-add-button {
  &:before {
    content: $bgi-add-button; 
  }
}
.bgi-play {
  &:before {
    content: $bgi-play; 
  }
}
.bgi-web {
  &:before {
    content: $bgi-web; 
  }
}
.bgi-mobile {
  &:before {
    content: $bgi-mobile; 
  }
}
.bgi-mail {
  &:before {
    content: $bgi-mail; 
  }
}
.bgi-validationbank {
  &:before {
    content: $bgi-validationbank; 
  }
}
.bgi-approval {
  &:before {
    content: $bgi-approval; 
  }
}
.bgi-tendersauctions {
  &:before {
    content: $bgi-tendersauctions; 
  }
}
.bgi-tendersandcontracts {
  &:before {
    content: $bgi-tendersandcontracts; 
  }
}
.bgi-tendermanagement {
  &:before {
    content: $bgi-tendermanagement; 
  }
}
.bgi-salesmarketing {
  &:before {
    content: $bgi-salesmarketing; 
  }
}
.bgi-procurement {
  &:before {
    content: $bgi-procurement; 
  }
}
.bgi-operatorzone {
  &:before {
    content: $bgi-operatorzone; 
  }
}
.bgi-lookout {
  &:before {
    content: $bgi-lookout; 
  }
}
.bgi-humanresource {
  &:before {
    content: $bgi-humanresource; 
  }
}
.bgi-Customerrelations {
  &:before {
    content: $bgi-Customerrelations; 
  }
}
.bgi-etendering {
  &:before {
    content: $bgi-etendering; 
  }
}
.bgi-contractsonly {
  &:before {
    content: $bgi-contractsonly; 
  }
}
.bgi-connectoman {
  &:before {
    content: $bgi-connectoman; 
  }
}
.bgi-careerbank {
  &:before {
    content: $bgi-careerbank; 
  }
}
.bgi-buyerszone {
  &:before {
    content: $bgi-buyerszone; 
  }
}
.bgi-bizsearch {
  &:before {
    content: $bgi-bizsearch; 
  }
}
.bgi-bidderdashboard {
  &:before {
    content: $bgi-bidderdashboard; 
  }
}
.bgi-recruitments {
  &:before {
    content: $bgi-recruitments; 
  }
}
.bgi-Map-it {
  &:before {
    content: $bgi-Map-it; 
  }
}
.bgi-services {
  &:before {
    content: $bgi-services; 
  }
}
.bgi-people {
  &:before {
    content: $bgi-people; 
  }
}
.bgi-company {
  &:before {
    content: $bgi-company; 
  }
}
.bgi-recommed {
  &:before {
    content: $bgi-recommed; 
  }
}
.bgi-favorite {
  &:before {
    content: $bgi-favorite; 
  }
}
.bgi-facebook {
  &:before {
    content: $bgi-facebook; 
  }
}
.bgi-instagram {
  &:before {
    content: $bgi-instagram; 
  }
}
.bgi-password {
  &:before {
    content: $bgi-password; 
  }
}
.bgi-twitter {
  &:before {
    content: $bgi-twitter; 
  }
}
.bgi-insight {
  &:before {
    content: $bgi-insight; 
  }
}
.bgi-Advancefilter {
  &:before {
    content: $bgi-Advancefilter; 
  }
}
.bgi-Savedsearch {
  &:before {
    content: $bgi-Savedsearch; 
  }
}
.bgi-N {
  &:before {
    content: $bgi-N; 
  }
}
.bgi-History {
  &:before {
    content: $bgi-History; 
  }
}
.bgi-Follow {
  &:before {
    content: $bgi-Follow; 
  }
}
.bgi-Undonew {
  &:before {
    content: $bgi-Undonew; 
  }
}
.bgi-Linknew {
  &:before {
    content: $bgi-Linknew; 
  }
}
.bgi-Follownew {
  &:before {
    content: $bgi-Follownew; 
  }
}
.bgi-Favoritenew {
  &:before {
    content: $bgi-Favoritenew; 
  }
}
.bgi-invite {
  &:before {
    content: $bgi-invite; 
  }
}
.bgi-warningmsg {
  &:before {
    content: $bgi-warningmsg; 
  }
}
.bgi-infomsg {
  &:before {
    content: $bgi-infomsg; 
  }
}
.bgi-youtubecolored .path1 {
  &:before {
    content: $bgi-youtubecolored-path1;  
    color: rgb(255, 0, 0);
  }
}
.bgi-youtubecolored .path2 {
  &:before {
    content: $bgi-youtubecolored-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-instagramcolored {
  &:before {
    content: $bgi-instagramcolored; 
  }
}
.bgi-infonew {
  &:before {
    content: $bgi-infonew; 
  }
}
.bgi-Unfollownew {
  &:before {
    content: $bgi-Unfollownew; 
  }
}
.bgi-sectorpartner {
  &:before {
    content: $bgi-sectorpartner; 
  }
}
.bgi-operator {
  &:before {
    content: $bgi-operator; 
  }
}
.bgi-network {
  &:before {
    content: $bgi-network; 
  }
}
.bgi-contactsupplier {
  &:before {
    content: $bgi-contactsupplier; 
  }
}
.bgi-mastermaintenace {
  &:before {
    content: $bgi-mastermaintenace; 
  }
}
.bgi-ratingslatest {
  &:before {
    content: $bgi-ratingslatest; 
  }
}
.bgi-shareproductlink {
  &:before {
    content: $bgi-shareproductlink; 
  }
}
.bgi-workspacelatest {
  &:before {
    content: $bgi-workspacelatest; 
  }
}
.bgi-user1 {
  &:before {
    content: $bgi-user1; 
  }
}
.bgi-upload {
  &:before {
    content: $bgi-upload; 
  }
}
.bgi-team {
  &:before {
    content: $bgi-team; 
  }
}
.bgi-supplier {
  &:before {
    content: $bgi-supplier; 
  }
}
.bgi-Time {
  &:before {
    content: $bgi-Time; 
  }
}
.bgi-spreadsheet {
  &:before {
    content: $bgi-spreadsheet; 
  }
}
.bgi-sme-small {
  &:before {
    content: $bgi-sme-small; 
  }
}
.bgi-smemicro {
  &:before {
    content: $bgi-smemicro; 
  }
}
.bgi-Shared-notes {
  &:before {
    content: $bgi-Shared-notes; 
  }
}
.bgi-round-add-button {
  &:before {
    content: $bgi-round-add-button; 
  }
}
.bgi-resume-and-cv {
  &:before {
    content: $bgi-resume-and-cv; 
  }
}
.bgi-reload {
  &:before {
    content: $bgi-reload; 
  }
}
.bgi-recent {
  &:before {
    content: $bgi-recent; 
  }
}
.bgi-public {
  &:before {
    content: $bgi-public; 
  }
}
.bgi-printer {
  &:before {
    content: $bgi-printer; 
  }
}
.bgi-precision {
  &:before {
    content: $bgi-precision; 
  }
}
.bgi-place {
  &:before {
    content: $bgi-place; 
  }
}
.bgi-pinned {
  &:before {
    content: $bgi-pinned; 
  }
}
.bgi-pie-chart {
  &:before {
    content: $bgi-pie-chart; 
  }
}
.bgi-photo-camera {
  &:before {
    content: $bgi-photo-camera; 
  }
}
.bgi-phone-call {
  &:before {
    content: $bgi-phone-call; 
  }
}
.bgi-paper-plane {
  &:before {
    content: $bgi-paper-plane; 
  }
}
.bgi-padlock {
  &:before {
    content: $bgi-padlock; 
  }
}
.bgi-overdue {
  &:before {
    content: $bgi-overdue; 
  }
}
.bgi-oman .path1 {
  &:before {
    content: $bgi-oman-path1;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path2 {
  &:before {
    content: $bgi-oman-path2;  
    margin-left: -1em;  
    color: rgb(115, 175, 0);
  }
}
.bgi-oman .path3 {
  &:before {
    content: $bgi-oman-path3;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.bgi-oman .path4 {
  &:before {
    content: $bgi-oman-path4;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.bgi-oman .path5 {
  &:before {
    content: $bgi-oman-path5;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path6 {
  &:before {
    content: $bgi-oman-path6;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path7 {
  &:before {
    content: $bgi-oman-path7;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path8 {
  &:before {
    content: $bgi-oman-path8;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path9 {
  &:before {
    content: $bgi-oman-path9;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path10 {
  &:before {
    content: $bgi-oman-path10;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path11 {
  &:before {
    content: $bgi-oman-path11;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path12 {
  &:before {
    content: $bgi-oman-path12;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path13 {
  &:before {
    content: $bgi-oman-path13;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path14 {
  &:before {
    content: $bgi-oman-path14;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path15 {
  &:before {
    content: $bgi-oman-path15;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path16 {
  &:before {
    content: $bgi-oman-path16;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path17 {
  &:before {
    content: $bgi-oman-path17;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path18 {
  &:before {
    content: $bgi-oman-path18;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path19 {
  &:before {
    content: $bgi-oman-path19;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path20 {
  &:before {
    content: $bgi-oman-path20;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path21 {
  &:before {
    content: $bgi-oman-path21;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path22 {
  &:before {
    content: $bgi-oman-path22;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path23 {
  &:before {
    content: $bgi-oman-path23;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path24 {
  &:before {
    content: $bgi-oman-path24;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path25 {
  &:before {
    content: $bgi-oman-path25;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path26 {
  &:before {
    content: $bgi-oman-path26;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path27 {
  &:before {
    content: $bgi-oman-path27;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path28 {
  &:before {
    content: $bgi-oman-path28;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path29 {
  &:before {
    content: $bgi-oman-path29;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path30 {
  &:before {
    content: $bgi-oman-path30;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path31 {
  &:before {
    content: $bgi-oman-path31;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.bgi-oman .path32 {
  &:before {
    content: $bgi-oman-path32;  
    margin-left: -1em;  
    color: rgb(210, 55, 65);
  }
}
.bgi-notes {
  &:before {
    content: $bgi-notes; 
  }
}
.bgi-No-image {
  &:before {
    content: $bgi-No-image; 
  }
}
.bgi-next-1 {
  &:before {
    content: $bgi-next-1; 
  }
}
.bgi-monitor {
  &:before {
    content: $bgi-monitor; 
  }
}
.bgi-mobile1 {
  &:before {
    content: $bgi-mobile1; 
  }
}
.bgi-messenger .path1 {
  &:before {
    content: $bgi-messenger-path1;  
    color: rgb(30, 136, 229);
  }
}
.bgi-messenger .path2 {
  &:before {
    content: $bgi-messenger-path2;  
    margin-left: -1em;  
    color: rgb(250, 250, 250);
  }
}
.bgi-medium {
  &:before {
    content: $bgi-medium; 
  }
}
.bgi-mail1 {
  &:before {
    content: $bgi-mail1; 
  }
}
.bgi-magnifying-Large {
  &:before {
    content: $bgi-magnifying-Large; 
  }
}
.bgi-magnifying-glass {
  &:before {
    content: $bgi-magnifying-glass; 
  }
}
.bgi-logout {
  &:before {
    content: $bgi-logout; 
  }
}
.bgi-login {
  &:before {
    content: $bgi-login; 
  }
}
.bgi-location-pin .path1 {
  &:before {
    content: $bgi-location-pin-path1;  
    color: rgb(0, 150, 230);
  }
}
.bgi-location-pin .path2 {
  &:before {
    content: $bgi-location-pin-path2;  
    margin-left: -1em;  
    color: rgb(113, 195, 134);
  }
}
.bgi-location-pin .path3 {
  &:before {
    content: $bgi-location-pin-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path1 {
  &:before {
    content: $bgi-liyba-map-path1;  
    color: rgb(80, 80, 80);
  }
}
.bgi-liyba-map .path2 {
  &:before {
    content: $bgi-liyba-map-path2;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path3 {
  &:before {
    content: $bgi-liyba-map-path3;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path4 {
  &:before {
    content: $bgi-liyba-map-path4;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path5 {
  &:before {
    content: $bgi-liyba-map-path5;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path6 {
  &:before {
    content: $bgi-liyba-map-path6;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path7 {
  &:before {
    content: $bgi-liyba-map-path7;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path8 {
  &:before {
    content: $bgi-liyba-map-path8;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path9 {
  &:before {
    content: $bgi-liyba-map-path9;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path10 {
  &:before {
    content: $bgi-liyba-map-path10;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path11 {
  &:before {
    content: $bgi-liyba-map-path11;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path12 {
  &:before {
    content: $bgi-liyba-map-path12;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path13 {
  &:before {
    content: $bgi-liyba-map-path13;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path14 {
  &:before {
    content: $bgi-liyba-map-path14;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path15 {
  &:before {
    content: $bgi-liyba-map-path15;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path16 {
  &:before {
    content: $bgi-liyba-map-path16;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path17 {
  &:before {
    content: $bgi-liyba-map-path17;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path18 {
  &:before {
    content: $bgi-liyba-map-path18;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path19 {
  &:before {
    content: $bgi-liyba-map-path19;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path20 {
  &:before {
    content: $bgi-liyba-map-path20;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path21 {
  &:before {
    content: $bgi-liyba-map-path21;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path22 {
  &:before {
    content: $bgi-liyba-map-path22;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path23 {
  &:before {
    content: $bgi-liyba-map-path23;  
    margin-left: -1em;  
    color: rgb(129, 129, 129);
  }
}
.bgi-liyba-map .path24 {
  &:before {
    content: $bgi-liyba-map-path24;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path25 {
  &:before {
    content: $bgi-liyba-map-path25;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path26 {
  &:before {
    content: $bgi-liyba-map-path26;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path27 {
  &:before {
    content: $bgi-liyba-map-path27;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path28 {
  &:before {
    content: $bgi-liyba-map-path28;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path29 {
  &:before {
    content: $bgi-liyba-map-path29;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path30 {
  &:before {
    content: $bgi-liyba-map-path30;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path31 {
  &:before {
    content: $bgi-liyba-map-path31;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path32 {
  &:before {
    content: $bgi-liyba-map-path32;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-liyba-map .path33 {
  &:before {
    content: $bgi-liyba-map-path33;  
    margin-left: -1em;  
    color: rgb(31, 163, 221);
  }
}
.bgi-link {
  &:before {
    content: $bgi-link; 
  }
}
.bgi-like1 {
  &:before {
    content: $bgi-like1; 
  }
}
.bgi-investor {
  &:before {
    content: $bgi-investor; 
  }
}
.bgi-Investment-Firm {
  &:before {
    content: $bgi-Investment-Firm; 
  }
}
.bgi-infinity {
  &:before {
    content: $bgi-infinity; 
  }
}
.bgi-history {
  &:before {
    content: $bgi-history; 
  }
}
.bgi-hide {
  &:before {
    content: $bgi-hide; 
  }
}
.bgi-heart {
  &:before {
    content: $bgi-heart; 
  }
}
.bgi-funnel {
  &:before {
    content: $bgi-funnel; 
  }
}
.bgi-folder1 {
  &:before {
    content: $bgi-folder1; 
  }
}
.bgi-files-and-folders {
  &:before {
    content: $bgi-files-and-folders; 
  }
}
.bgi-file {
  &:before {
    content: $bgi-file; 
  }
}
.bgi-favorites {
  &:before {
    content: $bgi-favorites; 
  }
}
.bgi-edit1 {
  &:before {
    content: $bgi-edit1; 
  }
}
.bgi-duration {
  &:before {
    content: $bgi-duration; 
  }
}
.bgi-drive {
  &:before {
    content: $bgi-drive; 
  }
}
.bgi-download1 {
  &:before {
    content: $bgi-download1; 
  }
}
.bgi-dislike {
  &:before {
    content: $bgi-dislike; 
  }
}
.bgi-copy {
  &:before {
    content: $bgi-copy; 
  }
}
.bgi-configuration {
  &:before {
    content: $bgi-configuration; 
  }
}
.bgi-chat-2 {
  &:before {
    content: $bgi-chat-2; 
  }
}
.bgi-completed-task {
  &:before {
    content: $bgi-completed-task; 
  }
}
.bgi-chat-1 {
  &:before {
    content: $bgi-chat-1; 
  }
}
.bgi-company-profile {
  &:before {
    content: $bgi-company-profile; 
  }
}
.bgi-back1 {
  &:before {
    content: $bgi-back1; 
  }
}
.bgi-check .path1 {
  &:before {
    content: $bgi-check-path1;  
    color: rgb(113, 192, 22);
  }
}
.bgi-check .path2 {
  &:before {
    content: $bgi-check-path2;  
    margin-left: -1em;  
    color: rgb(250, 250, 250);
  }
}
.bgi-chat {
  &:before {
    content: $bgi-chat; 
  }
}
.bgi-champion {
  &:before {
    content: $bgi-champion; 
  }
}
.bgi-certificate1 {
  &:before {
    content: $bgi-certificate1; 
  }
}
.bgi-category {
  &:before {
    content: $bgi-category; 
  }
}
.bgi-cancel {
  &:before {
    content: $bgi-cancel; 
  }
}
.bgi-calendar {
  &:before {
    content: $bgi-calendar; 
  }
}
.bgi-book {
  &:before {
    content: $bgi-book; 
  }
}
.bgi-avatar-1 {
  &:before {
    content: $bgi-avatar-1; 
  }
}
.bgi-whatsapp .path1 {
  &:before {
    content: $bgi-whatsapp-path1;  
    color: rgb(76, 175, 80);
  }
}
.bgi-whatsapp .path2 {
  &:before {
    content: $bgi-whatsapp-path2;  
    margin-left: -1em;  
    color: rgb(250, 250, 250);
  }
}
.bgi-product_namenew {
  &:before {
    content: $bgi-product_namenew; 
  }
}
.bgi-product_activitynew {
  &:before {
    content: $bgi-product_activitynew; 
  }
}
.bgi-listing_view {
  &:before {
    content: $bgi-listing_view; 
  }
}
.bgi-grid_view_show {
  &:before {
    content: $bgi-grid_view_show; 
  }
}
.bgi-exporthisticon {
  &:before {
    content: $bgi-exporthisticon; 
  }
}
.bgi-code_expand {
  &:before {
    content: $bgi-code_expand; 
  }
}
.bgi-Shortlisted {
  &:before {
    content: $bgi-Shortlisted; 
  }
}
.bgi-Shortlist {
  &:before {
    content: $bgi-Shortlist; 
  }
}
.bgi-New_icon {
  &:before {
    content: $bgi-New_icon; 
  }
}
.bgi-Existing {
  &:before {
    content: $bgi-Existing; 
  }
}
.bgi-Business_Source {
  &:before {
    content: $bgi-Business_Source; 
  }
}
.bgi-add-user_new {
  &:before {
    content: $bgi-add-user_new; 
  }
}
.bgi-add-department-new {
  &:before {
    content: $bgi-add-department-new; 
  }
}
.bgi-trade_new {
  &:before {
    content: $bgi-trade_new; 
  }
}
.bgi-dollar {
  &:before {
    content: $bgi-dollar; 
  }
}
.bgi-user_secured {
  &:before {
    content: $bgi-user_secured; 
  }
}
.bgi-form_user {
  &:before {
    content: $bgi-form_user; 
  }
}
.bgi-bank_logo {
  &:before {
    content: $bgi-bank_logo; 
  }
}
.bgi-Auditor-icon_updated {
  &:before {
    content: $bgi-Auditor-icon_updated; 
  }
}
.bgi-Anual-turnover-new {
  &:before {
    content: $bgi-Anual-turnover-new; 
  }
}
.bgi-Comment {
  &:before {
    content: $bgi-Comment; 
  }
}
.bgi-total_product {
  &:before {
    content: $bgi-total_product; 
  }
}
.bgi-incomplete_product {
  &:before {
    content: $bgi-incomplete_product; 
  }
}
.bgi-approved_product {
  &:before {
    content: $bgi-approved_product; 
  }
}
.bgi-voicesearchicon {
  &:before {
    content: $bgi-voicesearchicon; 
  }
}
.bgi-newfeaturesicon {
  &:before {
    content: $bgi-newfeaturesicon; 
  }
}
.bgi-mylibraryicon {
  &:before {
    content: $bgi-mylibraryicon; 
  }
}
.bgi-imagesearchicon {
  &:before {
    content: $bgi-imagesearchicon; 
  }
}
.bgi-play_youtube {
  &:before {
    content: $bgi-play_youtube; 
  }
}
.bgi-Followtwo {
  &:before {
    content: $bgi-Followtwo; 
  }
}
.bgi-exportexcel {
  &:before {
    content: $bgi-exportexcel; 
  }
}
.bgi-tradelist {
  &:before {
    content: $bgi-tradelist; 
  }
}
.bgi-VisitorsLounge {
  &:before {
    content: $bgi-VisitorsLounge; 
  }
}
.bgi-SupplierProfile {
  &:before {
    content: $bgi-SupplierProfile; 
  }
}
.bgi-SupplierCertifications {
  &:before {
    content: $bgi-SupplierCertifications; 
  }
}
.bgi-Profiledoorways {
  &:before {
    content: $bgi-Profiledoorways; 
  }
}
.bgi-PerfomanceAppraisal {
  &:before {
    content: $bgi-PerfomanceAppraisal; 
  }
}
.bgi-MasterCompanyprofile {
  &:before {
    content: $bgi-MasterCompanyprofile; 
  }
}
.bgi-CMSData {
  &:before {
    content: $bgi-CMSData; 
  }
}
.bgi-SelectedFilterIcon {
  &:before {
    content: $bgi-SelectedFilterIcon; 
  }
}
.bgi-Filterbycompanyicon {
  &:before {
    content: $bgi-Filterbycompanyicon; 
  }
}
.bgi-AddFilterIcon {
  &:before {
    content: $bgi-AddFilterIcon; 
  }
}
.bgi-Unpin_new {
  &:before {
    content: $bgi-Unpin_new; 
  }
}
.bgi-Plusaccordian {
  &:before {
    content: $bgi-Plusaccordian; 
  }
}
.bgi-Minusaccordian {
  &:before {
    content: $bgi-Minusaccordian; 
  }
}
.bgi-ProjectCost {
  &:before {
    content: $bgi-ProjectCost; 
  }
}
.bgi-OpentoInvestment {
  &:before {
    content: $bgi-OpentoInvestment; 
  }
}
.bgi-InvestmentRequired {
  &:before {
    content: $bgi-InvestmentRequired; 
  }
}
.bgi-InvestmentReceivedper {
  &:before {
    content: $bgi-InvestmentReceivedper; 
  }
}
.bgi-InvestmentReceived {
  &:before {
    content: $bgi-InvestmentReceived; 
  }
}
.bgi-Currentlyviewing {
  &:before {
    content: $bgi-Currentlyviewing; 
  }
}
.bgi-FAQ {
  &:before {
    content: $bgi-FAQ;     
    color: #999;
  }
}
.bgi-sortdown {
  &:before {
    content: $bgi-sortdown; 
  }
}
.bgi-airtransport {
  &:before {
    content: $bgi-airtransport; 
  }
}
.bgi-oceantransportation {
  &:before {
    content: $bgi-oceantransportation; 
  }
}
.bgi-streetcar {
  &:before {
    content: $bgi-streetcar; 
  }
}
.bgi-truck {
  &:before {
    content: $bgi-truck; 
  }
}
.bgi-Corporatesummary {
  &:before {
    content: $bgi-Corporatesummary; 
  }
}
.bgi-Taxationcertificate {
  &:before {
    content: $bgi-Taxationcertificate; 
  }
}
.bgi-nlpnew {
  &:before {
    content: $bgi-nlpnew; 
  }
}
.bgi-Savecriteria {
  &:before {
    content: $bgi-Savecriteria; 
  }
}
.bgi-Change_product {
  &:before {
    content: $bgi-Change_product; 
  }
}
.bgi-RFx {
  &:before {
    content: $bgi-RFx; 
  }
}
.bgi-Questionnaire {
  &:before {
    content: $bgi-Questionnaire; 
  }
}
.bgi-Contractor {
  &:before {
    content: $bgi-Contractor; 
  }
}
.bgi-LicensesAcquired {
  &:before {
    content: $bgi-LicensesAcquired; 
  }
}
.bgi-ProjectOwnericon {
  &:before {
    content: $bgi-ProjectOwnericon; 
  }
}
.bgi-keyboardnew {
  &:before {
    content: $bgi-keyboardnew; 
  }
}
.bgi-InvestorIcon {
  &:before {
    content: $bgi-InvestorIcon; 
  }
}
.bgi-BuyerIcon {
  &:before {
    content: $bgi-BuyerIcon; 
  }
}
.bgi-Nologo {
  &:before {
    content: $bgi-Nologo; 
  }
}
.bgi-Noimage {
  &:before {
    content: $bgi-Noimage; 
  }
}
.bgi-SDG {
  &:before {
    content: $bgi-SDG; 
  }
}
.bgi-Licenses {
  &:before {
    content: $bgi-Licenses; 
  }
}
.bgi-Achievements {
  &:before {
    content: $bgi-Achievements; 
  }
}
.bgi-Media {
  &:before {
    content: $bgi-Media; 
  }
}
.bgi-Contact {
  &:before {
    content: $bgi-Contact; 
  }
}
.bgi-Organiser {
  &:before {
    content: $bgi-Organiser; 
  }
}
.bgi-Accreditations {
  &:before {
    content: $bgi-Accreditations; 
  }
}
.bgi-BusinessSource_new {
  &:before {
    content: $bgi-BusinessSource_new; 
  }
}
.bgi-Engagements {
  &:before {
    content: $bgi-Engagements; 
  }
}
.bgi-Impressions {
  &:before {
    content: $bgi-Impressions; 
  }
}
.bgi-Internal-Reference {
  &:before {
    content: $bgi-Internal-Reference; 
  }
}
.bgi-Links-Clicks {
  &:before {
    content: $bgi-Links-Clicks; 
  }
}
.bgi-Page-Views {
  &:before {
    content: $bgi-Page-Views; 
  }
}
.bgi-Recommended_new {
  &:before {
    content: $bgi-Recommended_new; 
  }
}
.bgi-gotothelink {
  &:before {
    content: $bgi-gotothelink; 
  }
}
.bgi-user_online {
  &:before {
    content: $bgi-user_online; 
  }
}
.bgi-user_offline {
  &:before {
    content: $bgi-user_offline; 
  }
}
.bgi-user_away {
  &:before {
    content: $bgi-user_away; 
  }
}
.bgi-do_not_disturb {
  &:before {
    content: $bgi-do_not_disturb; 
  }
}
.bgi-user_activity {
  &:before {
    content: $bgi-user_activity; 
  }
}
.bgi-login_icon {
  &:before {
    content: $bgi-login_icon; 
  }
}
.bgi-degrees {
  &:before {
    content: $bgi-degrees; 
  }
}
.bgi-brochure_download {
  &:before {
    content: $bgi-brochure_download; 
  }
}
.bgi-corporateinfo {
  &:before {
    content: $bgi-corporateinfo; 
  }
}
.bgi-drop_your_skycard {
  &:before {
    content: $bgi-drop_your_skycard; 
  }
}
.bgi-missioninfo {
  &:before {
    content: $bgi-missioninfo; 
  }
}
.bgi-skycard {
  &:before {
    content: $bgi-skycard; 
  }
}
.bgi-visioninfo {
  &:before {
    content: $bgi-visioninfo; 
  }
}
.bgi-zoom_new {
  &:before {
    content: $bgi-zoom_new; 
  }
}
.bgi-visitors_ounge {
  &:before {
    content: $bgi-visitors_ounge; 
  }
}
.bgi-Received_SkyCards {
  &:before {
    content: $bgi-Received_SkyCards; 
  }
}
.bgi-Dropped_SkyCards {
  &:before {
    content: $bgi-Dropped_SkyCards; 
  }
}
.bgi-Support_Collaterals {
  &:before {
    content: $bgi-Support_Collaterals; 
  }
}
.bgi-News_and_Events {
  &:before {
    content: $bgi-News_and_Events; 
  }
}
.bgi-Media_Gallery {
  &:before {
    content: $bgi-Media_Gallery; 
  }
}
.bgi-Upcoming_event {
  &:before {
    content: $bgi-Upcoming_event; 
  }
}
.bgi-Tool_cards {
  &:before {
    content: $bgi-Tool_cards; 
  }
}
.bgi-Today_star {
  &:before {
    content: $bgi-Today_star; 
  }
}
.bgi-Shared_notes {
  &:before {
    content: $bgi-Shared_notes; 
  }
}
.bgi-Pinned_notes {
  &:before {
    content: $bgi-Pinned_notes; 
  }
}
.bgi-Overdue_past {
  &:before {
    content: $bgi-Overdue_past; 
  }
}
.bgi-In_progress {
  &:before {
    content: $bgi-In_progress; 
  }
}
.bgi-Completed_event {
  &:before {
    content: $bgi-Completed_event; 
  }
}
.bgi-Create {
  &:before {
    content: $bgi-Create; 
  }
}
.bgi-colla {
  &:before {
    content: $bgi-colla; 
  }
}
.bgi-Appraise {
  &:before {
    content: $bgi-Appraise; 
  }
}
.bgi-cmsicon {
  &:before {
    content: $bgi-cmsicon; 
  }
}
.bgi-Overdue_past_new {
  &:before {
    content: $bgi-Overdue_past_new; 
  }
}
.bgi-view_summary {
  &:before {
    content: $bgi-view_summary; 
  }
}
.bgi-right-arrow {
  &:before {
    content: $bgi-right-arrow; 
  }
}
.bgi-product_tracker {
  &:before {
    content: $bgi-product_tracker; 
  }
}
.bgi-left-arrow {
  &:before {
    content: $bgi-left-arrow; 
  }
}
.bgi-download_recent {
  &:before {
    content: $bgi-download_recent; 
  }
}
.bgi-collaborate_notifications {
  &:before {
    content: $bgi-collaborate_notifications; 
  }
}
.bgi-Jsearch-new {
  &:before {
    content: $bgi-Jsearch-new; 
  }
}
.bgi-icvicon {
  &:before {
    content: $bgi-icvicon; 
  }
}
.bgi-media-icon {
  &:before {
    content: $bgi-media-icon; 
  }
}
.bgi-supplier_performance {
  &:before {
    content: $bgi-supplier_performance; 
  }
}
.bgi-contractors-hub {
  &:before {
    content: $bgi-contractors-hub; 
  }
}
.bgi-insight-new {
  &:before {
    content: $bgi-insight-new; 
  }
}
.bgi-centralization {
  &:before {
    content: $bgi-centralization; 
  }
}
.bgi-approval-worfklow {
  &:before {
    content: $bgi-approval-worfklow; 
  }
}
.bgi-analytics-new {
  &:before {
    content: $bgi-analytics-new; 
  }
}
.bgi-collaboration_tools {
  &:before {
    content: $bgi-collaboration_tools; 
  }
}
.bgi-sky_card_new {
  &:before {
    content: $bgi-sky_card_new; 
  }
}
.bgi-broadcast {
  &:before {
    content: $bgi-broadcast; 
  }
}
.bgi-import_spend {
  &:before {
    content: $bgi-import_spend; 
  }
}
.bgi-Cup {
  &:before {
    content: $bgi-Cup; 
  }
}
.bgi-add_spend {
  &:before {
    content: $bgi-add_spend; 
  }
}
.bgi-workflow {
  &:before {
    content: $bgi-workflow; 
  }
}
.bgi-to-do-reminder {
  &:before {
    content: $bgi-to-do-reminder; 
  }
}
.bgi-training {
  &:before {
    content: $bgi-training; 
  }
}
.bgi-supply_chain {
  &:before {
    content: $bgi-supply_chain; 
  }
}
.bgi-profile_management_new {
  &:before {
    content: $bgi-profile_management_new; 
  }
}
.bgi-ICV_ompliance {
  &:before {
    content: $bgi-ICV_ompliance; 
  }
}
.bgi-Governance {
  &:before {
    content: $bgi-Governance; 
  }
}
.bgi-community {
  &:before {
    content: $bgi-community; 
  }
}
.bgi-Certification_new {
  &:before {
    content: $bgi-Certification_new; 
  }
}
.bgi-Certification_History {
  &:before {
    content: $bgi-Certification_History; 
  }
}
.bgi-Certification_Expires {
  &:before {
    content: $bgi-Certification_Expires; 
  }
}
.bgi-Module_Permission {
  &:before {
    content: $bgi-Module_Permission; 
  }
}
.bgi-Divisions {
  &:before {
    content: $bgi-Divisions; 
  }
}
.bgi-news_feeds {
  &:before {
    content: $bgi-news_feeds; 
  }
}
.bgi-support_meetings {
  &:before {
    content: $bgi-support_meetings; 
  }
}
.bgi-webinars {
  &:before {
    content: $bgi-webinars; 
  }
}
.bgi-black_invoice {
  &:before {
    content: $bgi-black_invoice; 
  }
}
.bgi-down-arrow {
  &:before {
    content: $bgi-down-arrow; 
  }
}
.bgi-up-arrow {
  &:before {
    content: $bgi-up-arrow; 
  }
}
.bgi-move1 {
  &:before {
    content: $bgi-move1; 
  }
}
.bgi-Link-Expired {
  &:before {
    content: $bgi-Link-Expired; 
  }
}
.bgi-Already-Registered {
  &:before {
    content: $bgi-Already-Registered; 
  }
}
.bgi-Change-User {
  &:before {
    content: $bgi-Change-User; 
  }
}
.bgi-Share {
  &:before {
    content: $bgi-Share; 
  }
}
.bgi-vat {
  &:before {
    content: $bgi-vat; 
  }
}
.bgi-Mapoman {
  &:before {
    content: $bgi-Mapoman; 
  }
}
.bgi-Tickets {
  &:before {
    content: $bgi-Tickets; 
  }
}
.bgi-reports {
  &:before {
    content: $bgi-reports; 
  }
}
.bgi-Reminder {
  &:before {
    content: $bgi-Reminder; 
  }
}
.bgi-Task {
  &:before {
    content: $bgi-Task; 
  }
}
.bgi-Notes {
  &:before {
    content: $bgi-Notes; 
  }
}
.bgi-discussion {
  &:before {
    content: $bgi-discussion; 
  }
}
.bgi-CT {
  &:before {
    content: $bgi-CT; 
  }
}
.bgi-Meeting_Sheduler {
  &:before {
    content: $bgi-Meeting_Sheduler; 
  }
}
.bgi-info {
  &:before {
    content: $bgi-info; 
  }
}
.bgi-post-enewal-icon {
  &:before {
    content: $bgi-post-enewal-icon; 
  }
}
.bgi-history1 {
  &:before {
    content: $bgi-history1; 
  }
}
.bgi-headcounts {
  &:before {
    content: $bgi-headcounts; 
  }
}
.bgi-icon {
  &:before {
    content: $bgi-icon; 
  }
}
.bgi-JCall-Fill .path1 {
  &:before {
    content: $bgi-JCall-Fill-path1;  
    color: rgb(0, 0, 0);
  }
}
.bgi-JCall-Fill .path2 {
  &:before {
    content: $bgi-JCall-Fill-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-JCall-Fill .path3 {
  &:before {
    content: $bgi-JCall-Fill-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-JCall-Fill .path4 {
  &:before {
    content: $bgi-JCall-Fill-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bgi-JCall-white {
  &:before {
    content: $bgi-JCall-white; 
  }
}
.bgi-Mute {
  &:before {
    content: $bgi-Mute;     
    color: #666;
  }
}
.bgi-Sourcing_Hub {
  &:before {
    content: $bgi-Sourcing_Hub; 
  }
}
.bgi-lcc {
  &:before {
    content: $bgi-lcc; 
  }
}
.bgi-zonal {
  &:before {
    content: $bgi-zonal; 
  }
}
.bgi-GCC-Tenders {
  &:before {
    content: $bgi-GCC-Tenders; 
  }
}
.bgi-Globle-Connect {
  &:before {
    content: $bgi-Globle-Connect; 
  }
}
.bgi-OLNG-pre-qualification {
  &:before {
    content: $bgi-OLNG-pre-qualification; 
  }
}
.bgi-Opportunities {
  &:before {
    content: $bgi-Opportunities; 
  }
}
.bgi-User-Profile {
  &:before {
    content: $bgi-User-Profile; 
  }
}
.bgi-certificatenew {
  &:before {
    content: $bgi-certificatenew;     
    color: #666;
  }
}
.bgi-archive {
  &:before {
    content: $bgi-archive; 
  }
}
.bgi-bcommunity {
  &:before {
    content: $bgi-bcommunity; 
  }
}
.bgi-ogcontractors {
  &:before {
    content: $bgi-ogcontractors; 
  }
}
.bgi-ogoperators {
  &:before {
    content: $bgi-ogoperators; 
  }
}
.bgi-jdolight {
  &:before {
    content: $bgi-jdolight; 
  }
}
.bgi-auditlog_icon {
  &:before {
    content: $bgi-auditlog_icon; 
  }
}
.bgi-instruction_icon {
  &:before {
    content: $bgi-instruction_icon; 
  }
}
.bgi-Approval-Management {
  &:before {
    content: $bgi-Approval-Management; 
  }
}
.bgi-Content-Management-System {
  &:before {
    content: $bgi-Content-Management-System; 
  }
}
.bgi-dashboard {
  &:before {
    content: $bgi-dashboard; 
  }
}
.bgi-Meeting-Requests {
  &:before {
    content: $bgi-Meeting-Requests; 
  }
}
.bgi-Reports {
  &:before {
    content: $bgi-Reports; 
  }
}
.bgi-Stakeholder-management {
  &:before {
    content: $bgi-Stakeholder-management; 
  }
}
.bgi-filled_warning {
  &:before {
    content: $bgi-filled_warning; 
  }
}
.bgi-filled_upload {
  &:before {
    content: $bgi-filled_upload; 
  }
}
.bgi-filled_tick {
  &:before {
    content: $bgi-filled_tick; 
  }
}
.bgi-filled_note {
  &:before {
    content: $bgi-filled_note; 
  }
}
.bgi-warning {
  &:before {
    content: $bgi-warning; 
  }
}
.bgi-up_underline {
  &:before {
    content: $bgi-up_underline; 
  }
}
.bgi-note_approve {
  &:before {
    content: $bgi-note_approve; 
  }
}
.bgi-edit_new {
  &:before {
    content: $bgi-edit_new; 
  }
}
.bgi-register-us {
  &:before {
    content: $bgi-register-us; 
  }
}
.bgi-external-link {
  &:before {
    content: $bgi-external-link; 
  }
}
.bgi-audit-arrow {
  &:before {
    content: $bgi-audit-arrow; 
  }
}
.bgi-filter_new {
  &:before {
    content: $bgi-filter_new; 
  }
}
.bgi-right_arrow {
  &:before {
    content: $bgi-right_arrow; 
  }
}