$icomoon-font-family: "bgi-icon" !default;
$icomoon-font-path: "icons/bgi-icons/fonts" !default;

$bgi-export: "\e900";
$bgi-add: "\e901";
$bgi-biz_search: "\e902";
$bgi-close: "\e903";
$bgi-collbrate: "\e904";
$bgi-contact-book: "\e905";
$bgi-date: "\e906";
$bgi-delete: "\e907";
$bgi-dropdown: "\e908";
$bgi-edit: "\e909";
$bgi-feed_backs: "\e90a";
$bgi-filter: "\e90b";
$bgi-full-screen: "\e90c";
$bgi-home: "\e90d";
$bgi-import: "\e90e";
$bgi-information: "\e90f";
$bgi-jsrs_connect: "\e910";
$bgi-like: "\e911";
$bgi-list_menu: "\e912";
$bgi-male: "\e913";
$bgi-more: "\e914";
$bgi-notification: "\e915";
$bgi-question-1: "\e916";
$bgi-question: "\e917";
$bgi-quick_link: "\e918";
$bgi-search: "\e919";
$bgi-settings: "\e91a";
$bgi-share: "\e91b";
$bgi-speech-bubble: "\e91c";
$bgi-star: "\e91d";
$bgi-tender: "\e91e";
$bgi-tick: "\e91f";
$bgi-user: "\e920";
$bgi-speech-bubble_2: "\e921";
$bgi-Upload_1: "\e922";
$bgi-upload_logo: "\e923";
$bgi-department_management: "\e924";
$bgi-profile_management: "\e925";
$bgi-tags: "\e926";
$bgi-awards: "\e927";
$bgi-honor: "\e928";
$bgi-certificate: "\e929";
$bgi-view: "\e92a";
$bgi-back: "\e92b";
$bgi-download: "\e92c";
$bgi-products: "\e92d";
$bgi-Activities: "\e92e";
$bgi-folder: "\e92f";
$bgi-contact: "\e930";
$bgi-move: "\e931";
$bgi-sort: "\e932";
$bgi-add-button: "\e933";
$bgi-play: "\e934";
$bgi-web: "\e938";
$bgi-mobile: "\e939";
$bgi-mail: "\e93a";
$bgi-validationbank: "\e935";
$bgi-approval: "\e936";
$bgi-tendersauctions: "\e937";
$bgi-tendersandcontracts: "\e93b";
$bgi-tendermanagement: "\e93c";
$bgi-salesmarketing: "\e93d";
$bgi-procurement: "\e93e";
$bgi-operatorzone: "\e93f";
$bgi-lookout: "\e940";
$bgi-humanresource: "\e941";
$bgi-Customerrelations: "\e942";
$bgi-etendering: "\e943";
$bgi-contractsonly: "\e944";
$bgi-connectoman: "\e945";
$bgi-careerbank: "\e946";
$bgi-buyerszone: "\e947";
$bgi-bizsearch: "\e948";
$bgi-bidderdashboard: "\e949";
$bgi-recruitments: "\e94a";
$bgi-Map-it: "\e94b";
$bgi-services: "\e94c";
$bgi-people: "\e94d";
$bgi-company: "\e94e";
$bgi-recommed: "\e94f";
$bgi-favorite: "\e950";
$bgi-facebook: "\e951";
$bgi-instagram: "\e952";
$bgi-password: "\e953";
$bgi-twitter: "\e954";
$bgi-insight: "\e955";
$bgi-Advancefilter: "\e956";
$bgi-Savedsearch: "\e957";
$bgi-N: "\e958";
$bgi-History: "\e959";
$bgi-Follow: "\e95a";
$bgi-Undonew: "\e95b";
$bgi-Linknew: "\e95c";
$bgi-Follownew: "\e95d";
$bgi-Favoritenew: "\e95e";
$bgi-invite: "\e95f";
$bgi-warningmsg: "\e960";
$bgi-infomsg: "\e961";
$bgi-youtubecolored-path1: "\e962";
$bgi-youtubecolored-path2: "\e963";
$bgi-instagramcolored: "\e964";
$bgi-infonew: "\e965";
$bgi-Unfollownew: "\e966";
$bgi-sectorpartner: "\e967";
$bgi-operator: "\e968";
$bgi-network: "\e969";
$bgi-contactsupplier: "\e96a";
$bgi-mastermaintenace: "\e96b";
$bgi-ratingslatest: "\e96c";
$bgi-shareproductlink: "\e96d";
$bgi-workspacelatest: "\e96e";
$bgi-user1: "\e96f";
$bgi-upload: "\e970";
$bgi-team: "\e971";
$bgi-supplier: "\e972";
$bgi-Time: "\e973";
$bgi-spreadsheet: "\e974";
$bgi-sme-small: "\e975";
$bgi-smemicro: "\e977";
$bgi-Shared-notes: "\e978";
$bgi-round-add-button: "\e97a";
$bgi-resume-and-cv: "\e97b";
$bgi-reload: "\e97c";
$bgi-recent: "\e97d";
$bgi-public: "\e97e";
$bgi-printer: "\e97f";
$bgi-precision: "\e980";
$bgi-place: "\e981";
$bgi-pinned: "\e982";
$bgi-pie-chart: "\e983";
$bgi-photo-camera: "\e984";
$bgi-phone-call: "\e985";
$bgi-paper-plane: "\e986";
$bgi-padlock: "\e987";
$bgi-overdue: "\e988";
$bgi-oman-path1: "\e989";
$bgi-oman-path2: "\e98a";
$bgi-oman-path3: "\e98b";
$bgi-oman-path4: "\e98c";
$bgi-oman-path5: "\e98d";
$bgi-oman-path6: "\e98e";
$bgi-oman-path7: "\e98f";
$bgi-oman-path8: "\e990";
$bgi-oman-path9: "\e991";
$bgi-oman-path10: "\e992";
$bgi-oman-path11: "\e993";
$bgi-oman-path12: "\e994";
$bgi-oman-path13: "\e995";
$bgi-oman-path14: "\e996";
$bgi-oman-path15: "\e997";
$bgi-oman-path16: "\e998";
$bgi-oman-path17: "\e999";
$bgi-oman-path18: "\e99a";
$bgi-oman-path19: "\e99b";
$bgi-oman-path20: "\e99c";
$bgi-oman-path21: "\e99d";
$bgi-oman-path22: "\e99e";
$bgi-oman-path23: "\e99f";
$bgi-oman-path24: "\e9a0";
$bgi-oman-path25: "\e9a1";
$bgi-oman-path26: "\e9a2";
$bgi-oman-path27: "\e9a3";
$bgi-oman-path28: "\e9a4";
$bgi-oman-path29: "\e9a5";
$bgi-oman-path30: "\e9a6";
$bgi-oman-path31: "\e9a7";
$bgi-oman-path32: "\e9a8";
$bgi-notes: "\e9a9";
$bgi-No-image: "\e9aa";
$bgi-next-1: "\e9ab";
$bgi-monitor: "\e9ac";
$bgi-mobile1: "\e9ad";
$bgi-messenger-path1: "\e9ae";
$bgi-messenger-path2: "\e9af";
$bgi-medium: "\e9b0";
$bgi-mail1: "\e9b1";
$bgi-magnifying-Large: "\e9b2";
$bgi-magnifying-glass: "\e9b3";
$bgi-logout: "\e9b4";
$bgi-login: "\e9b5";
$bgi-location-pin-path1: "\e9b6";
$bgi-location-pin-path2: "\e9b7";
$bgi-location-pin-path3: "\e9b8";
$bgi-liyba-map-path1: "\e9b9";
$bgi-liyba-map-path2: "\e9ba";
$bgi-liyba-map-path3: "\e9bb";
$bgi-liyba-map-path4: "\e9bc";
$bgi-liyba-map-path5: "\e9bd";
$bgi-liyba-map-path6: "\e9be";
$bgi-liyba-map-path7: "\e9bf";
$bgi-liyba-map-path8: "\e9c0";
$bgi-liyba-map-path9: "\e9c1";
$bgi-liyba-map-path10: "\e9c2";
$bgi-liyba-map-path11: "\e9c3";
$bgi-liyba-map-path12: "\e9c4";
$bgi-liyba-map-path13: "\e9c5";
$bgi-liyba-map-path14: "\e9c6";
$bgi-liyba-map-path15: "\e9c7";
$bgi-liyba-map-path16: "\e9c8";
$bgi-liyba-map-path17: "\e9c9";
$bgi-liyba-map-path18: "\e9ca";
$bgi-liyba-map-path19: "\e9cb";
$bgi-liyba-map-path20: "\e9cc";
$bgi-liyba-map-path21: "\e9cd";
$bgi-liyba-map-path22: "\e9ce";
$bgi-liyba-map-path23: "\e9cf";
$bgi-liyba-map-path24: "\e9d0";
$bgi-liyba-map-path25: "\e9d1";
$bgi-liyba-map-path26: "\e9d2";
$bgi-liyba-map-path27: "\e9d3";
$bgi-liyba-map-path28: "\e9d4";
$bgi-liyba-map-path29: "\e9d5";
$bgi-liyba-map-path30: "\e9d6";
$bgi-liyba-map-path31: "\e9d7";
$bgi-liyba-map-path32: "\e9d8";
$bgi-liyba-map-path33: "\e9d9";
$bgi-link: "\e9da";
$bgi-like1: "\e9db";
$bgi-investor: "\e9dc";
$bgi-Investment-Firm: "\e9dd";
$bgi-infinity: "\e9de";
$bgi-history: "\e9df";
$bgi-hide: "\e9e0";
$bgi-heart: "\e9e1";
$bgi-funnel: "\e9e2";
$bgi-folder1: "\e9e3";
$bgi-files-and-folders: "\e9e4";
$bgi-file: "\e9e5";
$bgi-favorites: "\e9e6";
$bgi-edit1: "\e9e7";
$bgi-duration: "\e9e8";
$bgi-drive: "\e9e9";
$bgi-download1: "\e9ea";
$bgi-dislike: "\e9eb";
$bgi-copy: "\e9ec";
$bgi-configuration: "\e9ed";
$bgi-chat-2: "\e9ee";
$bgi-completed-task: "\e9ef";
$bgi-chat-1: "\e9f0";
$bgi-company-profile: "\e9f1";
$bgi-back1: "\e9f2";
$bgi-check-path1: "\e9f3";
$bgi-check-path2: "\e9f4";
$bgi-chat: "\e9f5";
$bgi-champion: "\e9f6";
$bgi-certificate1: "\e9f7";
$bgi-category: "\e9f8";
$bgi-cancel: "\e9f9";
$bgi-calendar: "\e9fa";
$bgi-book: "\e9fb";
$bgi-avatar-1: "\e9fc";
$bgi-whatsapp-path1: "\e9fd";
$bgi-whatsapp-path2: "\e9fe";
$bgi-product_namenew: "\e976";
$bgi-product_activitynew: "\e979";
$bgi-listing_view: "\ea00";
$bgi-grid_view_show: "\ea01";
$bgi-exporthisticon: "\ea02";
$bgi-code_expand: "\ea03";
$bgi-Shortlisted: "\e9ff";
$bgi-Shortlist: "\ea04";
$bgi-New_icon: "\ea05";
$bgi-Existing: "\ea06";
$bgi-Business_Source: "\ea07";
$bgi-add-user_new: "\ea08";
$bgi-add-department-new: "\ea09";
$bgi-trade_new: "\ea0a";
$bgi-dollar: "\ea0d";
$bgi-user_secured: "\ea0e";
$bgi-form_user: "\ea0f";
$bgi-bank_logo: "\ea0b";
$bgi-Auditor-icon_updated: "\ea0c";
$bgi-Anual-turnover-new: "\ea10";
$bgi-Comment: "\ea11";
$bgi-total_product: "\ea12";
$bgi-incomplete_product: "\ea13";
$bgi-approved_product: "\ea14";
$bgi-voicesearchicon: "\ea15";
$bgi-newfeaturesicon: "\ea16";
$bgi-mylibraryicon: "\ea17";
$bgi-imagesearchicon: "\ea18";
$bgi-play_youtube: "\ea19";
$bgi-Followtwo: "\ea1a";
$bgi-exportexcel: "\ea1b";
$bgi-tradelist: "\ea1c";
$bgi-VisitorsLounge: "\ea1d";
$bgi-SupplierProfile: "\ea1e";
$bgi-SupplierCertifications: "\ea1f";
$bgi-Profiledoorways: "\ea20";
$bgi-PerfomanceAppraisal: "\ea21";
$bgi-MasterCompanyprofile: "\ea22";
$bgi-CMSData: "\ea23";
$bgi-SelectedFilterIcon: "\ea24";
$bgi-Filterbycompanyicon: "\ea25";
$bgi-AddFilterIcon: "\ea26";
$bgi-Unpin_new: "\ea27";
$bgi-Plusaccordian: "\ea28";
$bgi-Minusaccordian: "\ea29";
$bgi-ProjectCost: "\ea2a";
$bgi-OpentoInvestment: "\ea2b";
$bgi-InvestmentRequired: "\ea2c";
$bgi-InvestmentReceivedper: "\ea2d";
$bgi-InvestmentReceived: "\ea2e";
$bgi-Currentlyviewing: "\ea2f";
$bgi-FAQ: "\ea30";
$bgi-sortdown: "\ea31";
$bgi-airtransport: "\ea32";
$bgi-oceantransportation: "\ea33";
$bgi-streetcar: "\ea34";
$bgi-truck: "\ea35";
$bgi-Corporatesummary: "\ea36";
$bgi-Taxationcertificate: "\ea37";
$bgi-nlpnew: "\ea38";
$bgi-Savecriteria: "\ea39";
$bgi-Change_product: "\ea3a";
$bgi-RFx: "\ea3b";
$bgi-Questionnaire: "\ea3c";
$bgi-Contractor: "\ea3d";
$bgi-LicensesAcquired: "\ea3e";
$bgi-ProjectOwnericon: "\ea3f";
$bgi-keyboardnew: "\ea40";
$bgi-InvestorIcon: "\ea41";
$bgi-BuyerIcon: "\ea42";
$bgi-Nologo: "\ea43";
$bgi-Noimage: "\ea44";
$bgi-SDG: "\ea45";
$bgi-Licenses: "\ea46";
$bgi-Achievements: "\ea47";
$bgi-Media: "\ea48";
$bgi-Contact: "\ea49";
$bgi-Organiser: "\ea4a";
$bgi-Accreditations: "\ea4b";
$bgi-BusinessSource_new: "\ea4c";
$bgi-Engagements: "\ea4d";
$bgi-Impressions: "\ea4e";
$bgi-Internal-Reference: "\ea4f";
$bgi-Links-Clicks: "\ea50";
$bgi-Page-Views: "\ea51";
$bgi-Recommended_new: "\ea52";
$bgi-gotothelink: "\ea53";
$bgi-user_online: "\ea54";
$bgi-user_offline: "\ea55";
$bgi-user_away: "\ea56";
$bgi-do_not_disturb: "\ea57";
$bgi-user_activity: "\ea58";
$bgi-login_icon: "\ea59";
$bgi-degrees: "\ea5a";
$bgi-brochure_download: "\ea5b";
$bgi-corporateinfo: "\ea5c";
$bgi-drop_your_skycard: "\ea5d";
$bgi-missioninfo: "\ea5e";
$bgi-skycard: "\ea5f";
$bgi-visioninfo: "\ea60";
$bgi-zoom_new: "\ea61";
$bgi-visitors_ounge: "\ea62";
$bgi-Received_SkyCards: "\ea63";
$bgi-Dropped_SkyCards: "\ea64";
$bgi-Support_Collaterals: "\ea65";
$bgi-News_and_Events: "\ea66";
$bgi-Media_Gallery: "\ea67";
$bgi-Upcoming_event: "\ea68";
$bgi-Tool_cards: "\ea69";
$bgi-Today_star: "\ea6a";
$bgi-Shared_notes: "\ea6b";
$bgi-Pinned_notes: "\ea6c";
$bgi-Overdue_past: "\ea6d";
$bgi-In_progress: "\ea6e";
$bgi-Completed_event: "\ea6f";
$bgi-Create: "\ea70";
$bgi-colla: "\ea71";
$bgi-Appraise: "\ea72";
$bgi-cmsicon: "\ea73";
$bgi-Overdue_past_new: "\ea74";
$bgi-view_summary: "\ea75";
$bgi-right-arrow: "\ea76";
$bgi-product_tracker: "\ea77";
$bgi-left-arrow: "\ea78";
$bgi-download_recent: "\ea79";
$bgi-collaborate_notifications: "\ea7a";
$bgi-Jsearch-new: "\ea7b";
$bgi-icvicon: "\ea7c";
$bgi-media-icon: "\ea7d";
$bgi-supplier_performance: "\ea7e";
$bgi-contractors-hub: "\ea7f";
$bgi-insight-new: "\ea80";
$bgi-centralization: "\ea81";
$bgi-approval-worfklow: "\ea82";
$bgi-analytics-new: "\ea83";
$bgi-collaboration_tools: "\ea84";
$bgi-sky_card_new: "\ea85";
$bgi-broadcast: "\ea86";
$bgi-import_spend: "\ea87";
$bgi-Cup: "\ea88";
$bgi-add_spend: "\ea89";
$bgi-workflow: "\ea8a";
$bgi-to-do-reminder: "\ea8b";
$bgi-training: "\ea8c";
$bgi-supply_chain: "\ea8d";
$bgi-profile_management_new: "\ea8e";
$bgi-ICV_ompliance: "\ea8f";
$bgi-Governance: "\ea90";
$bgi-community: "\ea91";
$bgi-Certification_new: "\ea92";
$bgi-Certification_History: "\ea93";
$bgi-Certification_Expires: "\ea94";
$bgi-Module_Permission: "\ea95";
$bgi-Divisions: "\ea96";
$bgi-news_feeds: "\ea97";
$bgi-support_meetings: "\ea98";
$bgi-webinars: "\ea99";
$bgi-black_invoice: "\ea9a";
$bgi-down-arrow: "\ea9b";
$bgi-up-arrow: "\ea9c";
$bgi-move1: "\ea9d";
$bgi-Link-Expired: "\ea9e";
$bgi-Already-Registered: "\ea9f";
$bgi-Change-User: "\eaa0";
$bgi-Share: "\eaa1";
$bgi-vat: "\eaa2";
$bgi-Mapoman: "\eaa3";
$bgi-Tickets: "\eaa4";
$bgi-reports: "\eaa5";
$bgi-Reminder: "\eaa6";
$bgi-Task: "\eaa7";
$bgi-Notes: "\eaa8";
$bgi-discussion: "\eaa9";
$bgi-CT: "\eaab";
$bgi-Meeting_Sheduler: "\eaaa";
$bgi-info: "\eaac";
$bgi-post-enewal-icon: "\eaad";
$bgi-history1: "\eaae";
$bgi-headcounts: "\eaaf";
$bgi-icon: "\eab0";
$bgi-JCall-Fill-path1: "\eab1";
$bgi-JCall-Fill-path2: "\eab2";
$bgi-JCall-Fill-path3: "\eab3";
$bgi-JCall-Fill-path4: "\eab4";
$bgi-JCall-white: "\eab5";
$bgi-Mute: "\eab6";
$bgi-Sourcing_Hub: "\eab7";
$bgi-lcc: "\eab8";
$bgi-zonal: "\eab9";
$bgi-GCC-Tenders: "\eaba";
$bgi-Globle-Connect: "\eabb";
$bgi-OLNG-pre-qualification: "\eabc";
$bgi-Opportunities: "\eabd";
$bgi-User-Profile: "\eabe";
$bgi-certificatenew: "\eabf";
$bgi-archive: "\eac0";
$bgi-bcommunity: "\eac1";
$bgi-ogcontractors: "\eac2";
$bgi-ogoperators: "\eac3";
$bgi-jdolight: "\eac4";
$bgi-auditlog_icon: "\eac5";
$bgi-instruction_icon: "\eac6";
$bgi-Approval-Management: "\eac7";
$bgi-Content-Management-System: "\eac8";
$bgi-dashboard: "\eac9";
$bgi-Meeting-Requests: "\eaca";
$bgi-Reports: "\eacb";
$bgi-Stakeholder-management: "\eacc";
$bgi-filled_warning: "\eacd";
$bgi-filled_upload: "\eace";
$bgi-filled_tick: "\eacf";
$bgi-filled_note: "\ead0";
$bgi-warning: "\ead1";
$bgi-up_underline: "\ead2";
$bgi-note_approve: "\ead3";
$bgi-edit_new: "\ead4";
$bgi-register-us: "\ead5";
$bgi-external-link: "\ead6";
$bgi-audit-arrow: "\ead7";
$bgi-filter_new: "\ead8";
$bgi-right_arrow: "\ead9";