<div class="portfolio">
  <!-- Navbar -->
  <header class="fixed top-0 w-full bg-transparent text-white z-40" id="header">
    <nav class="flex justify-between items-center px-8 py-4">
      <div class="text-xl font-bold">
        <a href="#header" class="text-purple-400 hover:text-white transition duration-300">Home</a>
      </div>
      <ul class="flex space-x-8 hidden md:flex">
        <li><a [routerLink]="[]" fragment="about" class="text-purple-400 hover:text-white transition duration-300">About</a></li>
        <li><a [routerLink]="[]" fragment="projects" class="text-purple-400 hover:text-white transition duration-300">Projects</a></li>
        <li><a [routerLink]="[]" fragment="skills" class="text-purple-400 hover:text-white transition duration-300">Skills</a></li>
        <li><a [routerLink]="[]" fragment="contact" class="text-purple-400 hover:text-white transition duration-300">Contact</a></li>
      </ul>
  
      <!-- Hamburger Icon -->
      <div class="md:hidden flex flex-col space-y-2 cursor-pointer" id="hamburger" (click)="toggleMenu()">
        <!-- <div class="w-6 h-0.5 bg-purple-400"></div>
        <div class="w-6 h-0.5 bg-purple-400"></div>
        <div class="w-6 h-0.3 bg-purple-400"></div> -->
        <mat-icon class="text-purple-400" *ngIf="!isMenuOpen">subject</mat-icon>
        <mat-icon class="text-purple-400" *ngIf="isMenuOpen">clear</mat-icon>
      </div>
    </nav>
    
    <!-- Slide Menu -->
    <div id="slideMenu" class="absolute top-0 right-0 w-2/3 bg-purple-200 text-white h-full" [ngClass]="{'open': isMenuOpen}">
      <ul class="flex flex-col items-center py-10 space-y-6">
        <li><a (click)="selectMenuItem('about')" [routerLink]="[]" fragment="about" class="text-white text-xl hover:text-gray-200 transition duration-300">About</a></li>
        <li><a (click)="selectMenuItem('projects')" [routerLink]="[]" fragment="projects"  class="text-white text-xl hover:text-gray-200 transition duration-300">Projects</a></li>
        <li><a (click)="selectMenuItem('skills')" [routerLink]="[]" fragment="skills" class="text-white text-xl hover:text-gray-200 transition duration-300">Skills</a></li>
        <li><a (click)="selectMenuItem('contact')" [routerLink]="[]" fragment="contact" class="text-white text-xl hover:text-gray-200 transition duration-300">Contact</a></li>
      </ul>
    </div>
  </header>
  

  <!-- Full-Screen Video Snippet -->
  <div class="relative w-full h-screen">
    <!-- Video background with autoplay, muted, and loop -->
    <video autoplay muted loop id="backgroundVideo" class="absolute top-0 left-0 w-full h-full object-cover z-10">
      <source src="assets/images/montage.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40 z-20"></div>

     <!-- Welcome Text -->
    <div class="absolute welcometext top-1/2  left-0 transform -translate-x-1/2 -translate-y-1/2 z-30 text-center text-white text-5xl font-extrabold" style="font-family: 'Press Start 2P', cursive;">
      <p>Welcome to Shakir's Portfolio</p>
    </div>
  </div>
  

  <!-- Hero Section -->
  <section id="about" class="bg-gray-900 text-white py-32 flex flex-col items-center text-center z-30 relative">
    <h1 class="text-5xl font-bold mb-4">Hello, I'm Shakir Ahamed</h1>

    <p class="text-lg mb-8">A passionate web developer with a knack for creating dynamic and responsive websites.</p>
    <a [routerLink]="[]" fragment="contact" class="px-6 py-2 bg-purple-400 text-white rounded-md hover:bg-purple-500 transition duration-300">Get In Touch</a>
  </section>

  <!-- Educational Qualification Section -->
  <section id="education" class="px-8 bg-gray-200">
    <div class="container mx-auto py-12">
      <h2 class="text-center text-3xl text-purple-400 font-bold">Educational Qualification</h2>
      <div class="flex flex-wrap mt-8">
        <!-- <div class="w-full lg:w-1/2">
          <img src="assets/images/eb.png" alt="Educational Background" class="rounded-lg shadow-lg w-full eduimg" />
        </div> -->
        <div class="w-full ">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>Bachelors Degree</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Score: 7.75 CGPA</p>
              <p>Duration: 2019/2023</p>
              <p>Curriculum: Anna University/Autonomous</p>
              <p>College: SRM Valliammai Engineering College, Potheri</p>
              <a href="assets/documents/college-marksheet.pdf" download class="text-blue-400 underline">Download Certificate</a>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Higher Secondary - XII</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Score: 56.83%</p>
              <p>Duration: 2018/2019</p>
              <p>School: Sowdambikaa Higher Secondary School, Thuraiyur</p>
              <a href="assets/documents/12th.jpg" download class="text-blue-400 underline">Download Certificate</a>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Higher Secondary - XI</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Score: 51.33%</p>
              <p>Duration: 2017/2018</p>
              <p>School: Sowdambikaa Higher Secondary School, Thuraiyur</p>
              <a href="assets/documents/11th.jpg" download class="text-blue-400 underline">Download Certificate</a>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Senior Secondary - X</mat-panel-title>
              </mat-expansion-panel-header>
              <p>Score: 75.6%</p>
              <p>Duration: 2016/2017</p>
              <p>School: Sowdambikaa Higher Secondary School, Thuraiyur</p>
              <a href="assets/documents/10th.jpg" download class="text-blue-400 underline">Download Certificate</a>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <!-- <section id="projects" class="py-20 px-8 bg-gray-100">
    <h2 class="text-4xl text-purple-400 font-bold text-center mb-12">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <div *ngFor="let project of projects" class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img [src]="project.image" [alt]="project.title" class="w-full h-56 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">{{ project.title }}</h3>
          <p class="text-gray-700 mb-4">{{ project.description }}</p>
          <a [href]="project.link" target="_blank" class="text-purple-400 hover:underline">View Project</a>
        </div>
      </div>
    </div>
  </section> -->

  <section #projectsSection  id="projects" class="py-20 px-8 bg-gray-100">
    <h2 class="text-4xl text-purple-400 font-bold text-center mb-12">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
      <div *ngFor="let project of projects" class="project-card">
        <a [href]="project.link" target="_blank" class="block">
          <img [src]="project.image" [alt]="project.title" class="w-full h-56 object-cover" />
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">{{ project.title }}</h3>
            <p class="text-gray-700 mb-4">{{ project.description }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>
    
  
  

  <!-- Skills Section -->
  <section id="skills" class="py-16 px-8 bg-gray-200">
    <h2 class="text-4xl text-purple-400 font-bold text-center mb-12">My Skills</h2>
    
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 text-center">
      <div *ngFor="let skill of skills">
        <img [src]="skill.icon" [alt]="skill.name" class="skill-icon" />
        <p class="skill-name">{{ skill.name }} ({{ skill.value }}%)</p>
        
        <!-- Custom Progress Bar -->
        <div class="progress-bar">
          <div class="progress-fill" [ngStyle]="{'width': skill.value + '%'}"></div>
        </div>
      </div>
    </div>
  </section>
  

  

  <!-- Contact Section -->
  <section id="contact" class="py-16 px-8 bg-gray-900 text-white">
    <h2 class="text-4xl text-purple-400 font-bold text-center mb-12">Get In Touch</h2>
    <div class="max-w-md mx-auto">
      <form action="#" method="POST" class="space-y-6">
        <input type="text" name="name" placeholder="Your Name" class="w-full px-4 py-2 bg-gray-800 text-white rounded-md" required />
        <input type="email" name="email" placeholder="Your Email" class="w-full px-4 py-2 bg-gray-800 text-white rounded-md" required />
        <textarea name="message" placeholder="Your Message" class="w-full px-4 py-2 bg-gray-800 text-white rounded-md" rows="4" required></textarea>
        <button type="submit" class="w-full px-6 py-2 bg-purple-400 text-white rounded-md hover:bg-purple-500 transition duration-300">Send Message</button>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-4 text-center px-4" fxLayout="row" fxLayoutAlign="space-between center"
    fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
  
    <p>&copy; {{ currentYear }} Shakir Ahamed | All Rights Reserved</p>
  
    <!-- Social Icons & Install App Button Container -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
  
      <!-- GitHub Icon -->
      <a href="https://github.com/shaaakir7" target="_blank" matTooltip="GitHub" class="hovcol">
        <i class="ti ti-brand-github text-white text-2xl"></i>
      </a>
  
      <!-- LinkedIn Icon -->
      <a href="https://www.linkedin.com/in/shakir-ahamed-468266245/" target="_blank" matTooltip="LinkedIn" class="hovcol">
        <i class="ti ti-brand-linkedin text-white text-2xl"></i>
      </a>
  
      <!-- Install App Button -->
      
      <!-- for sm -->
      <button *ngIf="showInstallButton" (click)="installPWA()" matTooltip="Install App" class="install-btn">
        <i class="ti ti-device-desktop-down text-white text-2xl"></i> <span fxShow.xs fxHide> Install as App</span>
      </button>
  
    </div>
  
  </footer>

</div>
