<!-- <button class="button" data-text="Awesome" style="display: flex; justify-content: center;">
    <span class="actual-text">&nbsp;shakir ahamed&nbsp;</span>
    <span aria-hidden="true" class="hover-text">&nbsp;Webdeveloper&nbsp;</span>
</button> -->
  
<button class="button" data-text="Awesome" style="display: flex; justify-content: center;" fxLayout >
    <span class="actual-text">&nbsp;Hola, Amigo's!&nbsp;</span>
    <span aria-hidden="true" class="hover-text">&nbsp; Click Next! &nbsp;</span>
</button>
  