
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}
body{
	overflow: hidden !important;
}
.bgchange {
	background: #3c3c3c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 104vh;
	margin: -20px 0 0px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {	
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.shakir{
    // width: 200px;
    // height: 200px;
    // filter: grayscale(90%);
    border-radius: 10px 1px 10px 1px;

}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
    position: relative;
    top: 150px;
    
}
form .ghost{
    border-color: black;
    top:42px;
}
.portb{
    font-weight: lighter;
}
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(249, 247, 247, 0.325), 
			0 10px 10px rgba(252, 250, 250, 0.268);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    top: 0rem;
}
@media (min-width: 700px) and (max-width: 1920px) {
	.container {
		min-height: 410px;
	}
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}
.hello{
    width: 400px;
    height: 400px;
}
.overlay {
	/* background: #FF416C; */
	/* background: -webkit-linear-gradient(to right, #181717, #3a3839);
	background: linear-gradient(to right, #181717, #3a3839); */
    background: rgb(156,150,199);
    background: linear-gradient(90deg, rgba(156,150,199,1) 50%, rgba(144,202,249,1) 50%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}
.overlay-left h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    opacity: 0.7;
    text-align: left;
}
.overlay-left p{
    color: white;
    text-align: left;
}
.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
/* 
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
} */

@media (min-width:320px) and (max-width: 430px) {
    .hello{
        max-width: 200px !important;
        height: 400px;
    }
}
@media (max-width:320px) {
    .shakir{
        width: 90% !important;
    }
}
@media (max-width:320px){
    p.text-white.text-sm.font-sans {
        width: 145px !important;
    }
    h1.text-3xl {
        width: 145px;
    }
}
@media (min-width:357px) and (max-width: 430px){
    p.text-white.text-sm.font-sans {
        width: 170px !important;
    }
    h1.text-3xl {
        width: 170px;
    }
}

@media (min-width: 545px) and (max-width: 768px) {
	.bgchange {
		margin: -20px 20px 0;
	}
}
@media (min-width: 320px) and (max-width: 450px) {
	.container {
		background-color:transparent !important;
		position: initial !important;
		top: 0rem !important;
		border-radius: 0;
  		box-shadow:none !important;
	}
}

   
// @keyframes fadeIn {
// 	0% { opacity: 0; }
// 	100% { opacity: 1; }
//   }
  
//   /* Apply fade-in effect to elements */
//   .fade-in {
// 	animation: fadeIn 2s ease-in-out;
//   }


  @keyframes fadeUp {
	from {
	  opacity: 0;      /* Start with invisible */
	  transform: translateY(100px); /* Start 20px lower */
	}
	to {
	  opacity: 1;      /* End as fully visible */
	  transform: translateY(0);    /* End at its normal position */
	}
  }
  .fade-up {
	animation: fadeUp 2s ease-out; /* 1 second duration */
  }

  @keyframes fadeDown {
	from {
	  opacity: 0;      /* Start with invisible */
	  transform: translateY(-200px); /* Start 20px lower */
	}
	to {
	  opacity: 1;      /* End as fully visible */
	  transform: translateY(0);    /* End at its normal position */
	}
  }
  .fade-down {
	animation: fadeDown 2s ease-out; /* 1 second duration */
  }

  @keyframes fadeRight {
	from {
	  opacity: 0;      /* Start with invisible */
	  transform: translateX(-200px); /* Start 20px lower */
	}
	to {
	  opacity: 1;      /* End as fully visible */
	  transform: translateX(0);    /* End at its normal position */
	}
  }
  .fade-right {
	animation: fadeRight 2s ease-out; /* 1 second duration */
  }

  @keyframes fadeLeft {
	from {
	  opacity: 0;      /* Start with invisible */
	  transform: translateX(200px); /* Start 20px lower */
	}
	to {
	  opacity: 1;      /* End as fully visible */
	  transform: translateX(0);    /* End at its normal position */
	}
  }
  .fade-left {
	animation: fadeLeft 2s ease-out; /* 1 second duration */
  }