<div class="bgchange fade-in" fxLayout fxLayoutAlign="center center ">
    <div class="container" [class.right-panel-active]="rightPanelActive" >
        <div class="form-container sign-up-container">
            <form action="#">
                <div class="w-52 flex items-center justify-center p-6 grayscale">
                    <img src="..\assets\images\shakir.jpg" alt="me" class="shakir">
                </div>
                <button class="ghost portb text-sans text-sm rounded-full py-2 px-3" routerLink="/portfolio" (click)="portfolio();" style="color: black;">Portfolio</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#" class="w-auto flex items-center justify-center p-6 fade-right">
                <img src="..\assets\\images\hello-animate.svg" alt="" class="hello">
            </form> 
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="text-3xl ">I'm Shakir Ahamed</h1>
                    <p class="text-white text-sm font-sans">Aspiring student who seeks to secure a challenging position in a organisation where i can upgrade my skills,knowledge and contribute  a significant service to the success of the organisation</p>
                </div>
                <div class="overlay-panel overlay-right ">
                    <i fxHide fxShow.sm fxShow.xs class="fade-down"><h1 style="color: rgba(253, 249, 249, 0.647);" >Hola, Amigo's!</h1> </i>
                    <app-hovername fxHide.sm fxHide.xs  class="fade-down"></app-hovername>
                    <button class="ghost py-2 px-3 fade-up"  (click)="toggleRightPanel()">Next</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  