$oicomoon-font-family: "opal-icon" !default;
$oicomoon-font-path: "fonts" !default;

$opal-Dashboard: "\e900";
$opal-Training-Evaluation-Centre-Certification-Management: "\e901";
$opal-Technical-Inspection-Centre-Certification-Management-04: "\e902";
$opal-Contact-us: "\e903";
$opal-Manage-Roles: "\e904";
$opal-Manage-Users: "\e905";
$opal-Manage-Users1: "\e906";
$opal-Approval-Management: "\e907";
$opal-Invoice-Management: "\e908";
$opal-Learner-Card-Log: "\e909";
$opal-Batch-Management: "\e90a";
$opal-Learner-Feedback: "\e90b";
$opal-comment: "\e90c";
$opal-upload: "\e90d";
$opal-datepicker: "\e90e";
$opal-documentupload: "\e90f";
$opal-search: "\e910";
$opal-approval: "\e911";
$opal-editdocument: "\e912";
$opal-male: "\e913";
$opal-certification: "\e914";
$opal-edit: "\e915";
$opal-filter: "\e916";
$opal-home: "\e917";
$opal-Facebook: "\e918";
$opal-Instagram: "\e919";
$opal-Linkdin: "\e91a";
$opal-Youtube: "\e91b";
$opal-twitter: "\e91c";

