@font-face {
    font-family: 'opal_regular';
    src: url('fonts/opalSans-Regular.woff2') format('woff2'),
         url('fonts/opalSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opal_semibold';
    src: url('fonts/opalSans-SemiBold.woff2') format('woff2'),
         url('fonts/opalSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opal_bold';
    src: url('fonts/opalSans-Bold.woff2') format('woff2'),
         url('fonts/opalSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
